html{
    box-sizing:border-box;
}
*,*::before, *::after{
    box-sizing:inherit;
}
body{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    color:#575445;
    width: 100%;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
.container{
    width: 1200px;
    margin:0 auto;
}
.title{
    color:#E6B939;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin:0;
}
/* Header style start */
.header{
    margin-bottom:2px;
    background: white;
}
.header_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding-top:20px;
}
.header_nav-list{
    display: flex;
    flex-wrap: wrap;
}
.header_content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header_nav{
    margin-right:40px;
}
.header_nav-list-item{
    list-style-type: none;
    margin-right:28px;
}
.header_nav-list-item a{
    color:#444444;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}
.header_nav-list-item a:hover{
    opacity: .75;
}
.header_nav-list-item.header_shop a{
    font-size: 13px;
}
.header_nav-list-item.active{
    margin-left:6px;
    margin-right:0px;
}
.header_nav-list-item.active a{
    color:#222222;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}
.header_btns{
    display: flex;
    flex-wrap: wrap;
}
.btn{
    background-color: #575445;
    outline: 0;
    border:0;
    border-radius: 6px;
    padding:11px 18px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color:white;

    transition: .2s ease;
    cursor: pointer;
}
.btn:hover{
    opacity: .75;
}
.btn_buy{
    background-color: #575445;
    outline: 0;
    border:0;
    border-radius: 6px;
    padding:11px 46px;
    padding-left:43px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color:white;

    background-image: url('../img/btn-buy-1.svg');
    background-repeat: no-repeat;
    background-position-x: 18px;
    background-position-y: 13px;
    
    position: relative;
    cursor: pointer;
    transition: .2s ease;
}
.btn_buy:hover{
    background-position-x: 8px;
    background-position-y: 12px;
}
.btn_buy-item{
    display: flex;
    flex-wrap: wrap;
}
.btn_buy-number{
    background-color: white;
    border-radius: 45%;
    width: 20px;
    height: 18px;
    display: flex;
    margin:auto;
    align-items: center;
    justify-content: center;
    position:absolute;
    margin:13px 0px;
    margin-left:87px;
    margin-right:18px;
    cursor: pointer;
}
.btn_buy-number-value{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    color:#575445;
}
.header_btns button:first-child{
    margin-right:20px;
}
/* Header style end */

/* Intro style start */
.intro{
    background: url('../img/IMAGE\ \(26\).jpg') no-repeat center / cover;
}
.intro_text{
    padding-top:220px;
    padding-bottom:227px;
}
.intro_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color:white;
    max-width: 420px;
    margin:0;
    margin-bottom:9px;
}
.intro_desc{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;  
    color: #CACCD1;
    max-width: 500px;
    margin:0;
}
/* Intro style end */

/* About Us style start */
.about_container{
    display: flex;
    flex-wrap: wrap;
}
.about-first{
    display: block;
    margin:0 auto;
    z-index: 999;
    position: relative;
    transform: translateY(-31px);
}
.about-second{
    position: absolute;
    z-index: 999;
    transform: translateY(300px) translateX(10px);
}
.about_pic{
    transform: translateY(-151px);
}
.about_text{
    display: block;
    margin:0 auto;
    justify-content: center;
}
.about_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #575445;
    margin:0;
    margin-bottom:8px;
}
.about_desc{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    max-width: 390px;
    margin:0;
    margin-bottom:24px;
}
.about_more{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color:#575445;
    background: url('../img/arrow-more.svg') no-repeat 95% center;
    padding-right:32px;
    transition: .2s ease;
}
.about_more:hover{
    background: url('../img/arrow-more.svg') no-repeat right center;
}
/* About Us style end */

/* Promises style start */
.promises{
    position: relative;
    margin-bottom:100px;
}
.promises-bottom{
    display: block;
    position: absolute;
    bottom:0;
    left:0;
}
.promises_container{
    padding-top:100px;
}
.promises-top{
    display: block;
    position: absolute;
    top:0;
    right:0;
    justify-content: end;
    margin-left:auto;
}
.title.promises_tt{
    text-align: center;
}
.promises_desc{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin:0 auto;
    color: #575445;
    max-width: 538px;
}
.promises_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #575445;
    margin:0;
    margin-bottom:7px;
}
.promises_items{
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
    justify-content: center;
    margin-top:71px;
    padding-bottom:160px;
}

.promises_item{
    margin-right:102px;
}
.promises_item img{
    display: block;
    margin:0 auto;
}
.promises_item.last-third{
    margin-right:0;
}
.promises_item.six{
    margin-right:0;
}
.promises_item-title{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}
.promises_item-desc{
    max-width: 287px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}
/* Promises style end */

/* Cards style start */
.cards_text{
    margin-bottom:21px;
}
.title.cards_tt{
    text-align: center;
    margin:0;
}
.cards_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px; 
    text-align: center;
    color: #575445;
    margin:0;
    margin-bottom:7px;
}
.cards_desc{
    max-width: 538px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #575445;
    margin:0 auto;
}
.cards_items{
    display: flex;
    flex-wrap: wrap;
    margin-bottom:12px;
}
.cards_item{
    margin-right:16px;
    margin-bottom:9px;
}
.cards_item.climbing{
    margin-right: 0;
}
.cards_item:last-child{
    margin-right:0px;
}
.cards_item-pic{
    position: relative;
}
.cards_item-pic img{
    border-radius: 10px;
}
.cards_item-text{
    position: absolute;
    top:39px;
    left:63px;
    display: block;
    justify-content: center;
    margin:0 auto;
}
.cards_item-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #575445;
    margin:0 auto;
}
.cards_item-desc{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;   
    color: #575445;
    max-width: 260px;
}
.cards_item-more-link{
    display: block;
    text-align: center;
    margin: 0 auto;
}
.cards_item-more{
    color:#575445;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    background: url('../img/arrow-more.svg') no-repeat 95% center;
    padding-right:32px;
    transition: .3s ease;
}
.cards_item-more:hover{
    background: url('../img/arrow-more.svg') no-repeat right center;   
}
.cards_more-categories{
    display: flex;
    margin-bottom:100px;
}
.cards-more{
    color:#575445;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    background: url('../img/arrow-more.svg') no-repeat 95% center;
    transition: .3s ease;
    padding-right:32px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.cards-more:hover{
    background: url('../img/arrow-more.svg') no-repeat right center;
}
/* Cards style end */

/* Landscape style start */
.landscape{
    height: 100%;
    width: 100%;
    background: url('../img/landscape-bg.jpg') no-repeat center / cover;
}
.landscape_info{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-right:40px;
    padding-top:512px;
    padding-bottom:40px;
}
.landscape_info-text{
    background: #292C32;
    display: flex;
    flex-wrap: wrap;
    border-radius: 16px;
    padding-top:15px;
    padding-bottom:21px;
}
.landscape_info-text p{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    margin:0;
}
.info_product{
    background: url('../img/info_product.svg') no-repeat 24%;
    padding-left:46px;
    margin-right:8px;
}
.info_photo{
    background: url('../img/info_photo.svg') no-repeat 24%;
    padding-left:44px;   
}
.info_person{
    background: url('../img/info_person.svg') no-repeat 24%;
    padding-left:44px;   
}
.info_place{
    background: url('../img/info_place.svg') no-repeat 14%;
    padding-left:44px; 
    padding-right:22px; 
}
/* Landscape style end */

/* Shop style start */
.shop{
    background: #375C58;
    margin-bottom:100px;
}
/* .shop_bg-pattern{
    position: absolute;
    z-index:0;
} */
.shop_container{
    background: url('../img/Full-Pattern-1-White.svg') no-repeat center / cover;
    padding-top:100px;
    padding-bottom:100px;
    z-index:3;
}
.shop_tt{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin:0 auto;
    color:#FAFAFC;
}
.shop_title{
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #E6B939;
    margin:0;
    margin-bottom:7px;
}
.shop_desc{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;    
    text-align: center;
    color: #FAFAFC;
    max-width: 540px;
    margin:0;
    margin:0 auto;
    margin-bottom:21px;
}
.btn_shop{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center; 
    color: #575445;
    padding:11px 18px;
    background: white;
    
    outline: 0;
    border:0;
    border-radius: 6px;

    display: flex;
    margin:0 auto;
    justify-content: center;

    transition:.3s ease;
    cursor: pointer;
}
.btn_shop:hover{
    opacity:.65;
}
/* Shop style end */

/* Navigation style start */
.nvgtn_title{
    margin:0;
    margin-bottom:7px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #575445;
}
.nvgtn_desc{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px; 
    color: #575445;
    max-width: 538px;
    margin:0;
    margin-bottom:21px;
}
.nvgtn_cards{
    display: flex;
    flex-wrap: wrap;
    margin-bottom:19px;
}
.nvgtn_card{
    margin-right:32px;
}
.nvgtn_card:last-child{
    margin-right:0px;
}
.nvgtn_card-desc{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #575445;
    max-width: 465px;
}
.nvgtn_card-person{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.nvgtn_card_person-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right:334px;
}
.nvgtn_card_person-pic{
    margin-right:12px;
}
.nvgtn_card_person-pic img{
    width: 100%;
}
.name{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #575445;
    margin:0;
}
.status{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #E6B939;
    margin:0;
}
.time{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #6F7278;
}
.nvgtn_card_person-content.nvgtn_card_second{
    margin-right:290px;
}
.nvgtn_more{
    display: flex;
    margin-bottom:72px;
}
.nvgtn_more-link{
    background: url('../img/arrow-more.svg') no-repeat 95% center;
    padding-right:34px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #575445;
    display: flex;
    margin: 0 auto;
    justify-content: center;

    transition: .3s ease;
}
.nvgtn_more-link:hover{
    background: url('../img/arrow-more.svg') no-repeat right center;  
}
/* Navigation style end */

/* Subscribe magazine style start */
.sub{
    position: relative
}
.sub_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top:120px;
    padding-bottom:130px;
}
.sub_pattern-first{
    position: absolute;
    left:40%;
}
.sub_pattern-second{
    position: absolute;
    bottom:0;
    left:0;
}
.sub_pic{
    margin-right:104px;
}
.sub_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #575445;
    margin:0;
    margin-bottom:7px;
    max-width: 295px;
}
.sub_desc{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #575445;
    max-width: 384px;
    margin:0;
    margin-bottom:20px;
}
.sub-more{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #575445;
    background: url('../img/arrow-more.svg') no-repeat 95% center;
    padding-right:34px;
    align-items: center;
    transition: .2s ease;
}
.sub-more:hover{
    background: url('../img/arrow-more.svg') no-repeat right center;
}
/* Subscribe magazine style end */

/* Footer style start */
.footer{
    background: #575445;
}
.footer_logo{
    display: flex;
    margin:0 auto;
    justify-content: center;
    padding-top:100px;
    padding-bottom:75px;
}
.footer_info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer_list{
    margin:0;
    padding:0;
}
.footer_list-item-link a{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom:9px;
}
.footer_list-item-link a:hover{
    opacity: .55;
}
.footer_list-item-link a:last-child{
    margin-bottom:0px;
}
.footer_sub-desc{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FAFAFC;
    max-width: 438px;
    margin:0;
    margin-bottom:9px;
}
.footer_sub-form{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
}
.footer_sub-input{
    display: flex;
    justify-content: end;
    width: 458px;
    padding:18px 0px;
    padding-left:21px;

    border:0;
    outline: 0;
    border-radius: 8px;

}
.footer_sub-input::placeholder{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #575445;
}
.btn_sub{
    position: absolute;
    margin-right:7px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;

    border-radius: 10px;
    background: #575445;
    outline: 0;
    border:0;
    padding:10px 12px;

    transition: .2s ease;
    cursor: pointer;
}
.btn_sub:hover{
    opacity: .75;
}
.footer_text{
    padding-bottom:30px;
}
.footer_copyright{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom:100px;
}
.footer_copyright-desc{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin:0;
}
.footer_soc a{
    margin-right:20px;
}
.footer_soc a:last-child{
    margin-right:0;
}
/* Footer style end */


@media screen and (max-width:767px){
    .container{
        padding:0 15px;
        width: 100%;
    }

    .intro_title{
        max-width: 350px;
    }
    .intro_desc{
        max-width: 350px;
    }
    .about_container{
        display: block;
    }
    .about_pic{
        display: block;
        margin:0 auto;
        justify-content: center;
    }
    .about_title{
        text-align: center;
    }
    .about_desc{
        text-align: center;
        margin:0 auto;
        margin-bottom:30px;
    }
    .about_more-container{
        display: flex;
    }
    .about_more{
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
    .about_tt{
        text-align: center;
    }
    .promises_title{
        text-align: center;
        
    }
    .promises_desc{
        margin:0;
        margin-bottom:50px;
    }
    .promises_items{
        display: block;
       
        justify-content: none;
        margin:0;
    }
    .promises_item{
        margin:0;
        margin-bottom:40px;
    }
    .promises_item-title{
        text-align: center;
    }
    .promises_item-desc{
        margin:0 auto;
    }
    .promises_item:last-child{
        margin-bottom:0;
    }
    .promises_item img{
        display: block;
        margin:0 auto;
    }
    .cards_title{
        max-width: 350px;
        text-align: center;
    }
    .cards_desc{
        margin:0;
        text-align: center;
        max-width: 320px;
    }
    .cards_items{
        display: block;
        margin:0;
    }
    .cards_item{
        margin-right:0;
    }
    .cards_item:last-child{
        margin-bottom:30px;
    }
    .cards_item-pic img{
        width: 100%;
    }
    .cards_item-title{
        font-size: 31px;
        line-height: 36px;
    }
    .cards_item-desc{
        font-size: 19px;
        line-height: 23px;
    }
    .cards_item-more{
        font-size: 17px;
        line-height: 22px;
    }
    .cards-more{
        display: flex;
        margin:0 auto;
        justify-content: center;
    }
    .cards_more-categories{
        display: flex;
    }
    .nvgtn_card{
        margin:0;
        margin-bottom:20px;
    }
    .nvgtn_card:last-child{
        margin-bottom: 30px;
    }
    .nvgtn_card_person-content{
        margin-right:20px;
    }
    .nvgtn_card_person-content.nvgtn_card_second{
        margin:0;
        margin-right:20px;
    }
    .landscape_infofd{
        margin-right:0;
        left:0;
    }
    .shop_title{
        margin-bottom:30px;
    }
    .shop_desc{
        font-size: 17px;
        line-height: 19px;
    }
    .btn_shop{
        font-size: 17px;
        line-height: 22px;
        padding: 13px 20px;
    }
    .shop_tt{
        font-size: 16px;
    }
    .sub_pic{
        margin:0;
    }
    .sub_tt{
        text-align: center;
    }
    .sub_title{
        text-align: center;
        max-width: 100%;
    }
    .sub_desc{
        text-align: center;
    }
    .sub-more-container{
        display: flex;
    }
    .sub-more{
        display: flex;
        justify-content: center;
        margin:0 auto;
    }
    .footer_info{
        display: block;
        
    }
    .footer_list{
        text-align: center;
        margin-bottom:20px;
    }
    .footer_list:last-child{
        margin-bottom:40px;
    }
    .footer_sub-input{
        width: 100%;
    }
    .footer_list-item-tt{
        font-size: 19px;
        margin-bottom: 13px;
    }
    .footer_list-item-link a{
        font-size: 23px;
        line-height: 20px;
    }
    .footer_list-item-link{
        margin-bottom:13px;
    }
    .footer_sub-tt{
        text-align: center;
        font-size: 21px;
        margin-bottom: 9px;
    }
    .footer_sub-desc{
        font-size: 19px;
        text-align: center;
        margin-bottom: 23px;
    }
    .footer_sub-form{
        margin-bottom: 20px;
    }
    .footer_copyright-desc{
        text-align: center;
        font-size: 18px;
        margin-bottom:30px;
    }
    .footer_soc{
        display: block;
        margin:0 auto;

    }
    .footer_soc img{
        width: 48px;
        height: 48px;
    }
}